
<div class="row">
    <p>HOLA</p>
    <p>Prueba realizada por Oscar Granados / 3202638478</p>

    <mat-divider class="mb-4 mt-4"></mat-divider>

    <p>Backend realizado con Laravel</p>
    <p>Repositorio: 
        <a href="https://github.com/OscarGranadosG/oet-backend">https://github.com/OscarGranadosG/oet-backend</a>
    </p> 

    <mat-divider class="mb-4 mt-4"></mat-divider>

    <p>Fronted realizado con Angular</p>
    <p>Repositorio: 
        <a href="https://github.com/OscarGranadosG/oet-frontend">https://github.com/OscarGranadosG/oet-frontend</a>
    </p> 


    <mat-divider class="mb-4 mt-4"></mat-divider>

    <p>En cada repositorio encontraras la forma de desplegar la app de manera local</p>
    <p>Aunque tambien puedes hacer uso ya desplegado en el siguiente link: </p>
    <p>LINK: 
        <a href="https://oet-frontend.netlify.app/home">https://oet-frontend.netlify.app/home</a>
    </p>
    
</div>
