
<div class="container">
  <div class="row d-flex justify-content-between">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Conductor</li>
        </ol>
      </nav>
    </div>
    <div class="col d-flex justify-content-end ">
      <button type="button" [routerLink]="'create'" class="btn btn-primary">Crear conductor</button>
    </div>  
  </div>
  <mat-divider class="mb-4 mt-4"></mat-divider>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Telefono</th>
          </tr>
        </thead>
          <tr *ngFor="let item of list">
            <td>{{item.first_name}}</td>
            <td>{{item.last_name}}</td>
            <td>{{item.document}}</td>
            <td>{{item.phone}}</td>
          </tr>
        <tbody>
        </tbody>
      </table>
    </div>
    
  </div>
</div>